/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visual (shadow box)
5. Otros
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

body {
  width: 100%;
  height: auto;
  background-color: #eee8e8;
}
body header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 334px;
  min-width: 324px;
  text-align: center;
  background-image: linear-gradient(to bottom, #24c0eb, #9cc2f8, #d7c8ee, #f0d7e4, #f1ebeb);
}
body header .header__contenedor--primario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
body header .header__contenedor--primario h2 {
  color: #f1ebeb;
  font-size: 3rem;
  margin-right: 10px;
  color: black;
}
body header .header__contenedor--primario img {
  width: 40px;
  height: 37px;
  align-self: center;
  margin-right: 10px;
}
body header .header__contenedor--secundario {
  width: 90%;
  height: 218px;
  min-width: 288px;
  max-width: 900px;
  margin-top: 40px;
  align-self: center;
  text-align: center;
}
body header .header__contenedor--secundario h1 {
  font-size: 2.4rem;
  color: #f1ebeb;
  font-weight: bold;
  line-height: 3rem;
  color: black;
}
body header .header__contenedor--secundario p {
  margin-top: 20px;
  font-size: 1.8rem;
  color: black;
}
body header .header__contenedor--secundario .header--button {
  position: absolute;
  display: block;
  left: calc(50% - 118px);
  top: 270px;
  width: 229px;
  height: 48px;
  margin-top: 35px;
  padding: 8px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  background-color: #eee8e8;
  border-radius: 5px;
  box-shadow: 1px 2px 2px black;
}
body header .header__contenedor--secundario .header--button:hover {
  background-color: rgb(231, 219, 219);
}
body header .header__contenedor--secundario .header--button img {
  width: 23px;
  height: 20px;
  margin: 5px 0 0 10px;
}
body main {
  margin-bottom: 130px;
}
body main .main__section--objetivo, body main .main__section--desarrollo {
  width: 100%;
  height: auto;
  margin: 100px 0;
}
body main .main__section--objetivo h2, body main .main__section--desarrollo h2 {
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 3rem;
  text-align: center;
  color: black;
}
body main .main__section--objetivo p, body main .main__section--desarrollo p {
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  font-size: 2rem;
  color: black;
}
body main .main__section--precios {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  background-color: #ebd4e5;
}
body main .main__section--precios .section__precios--titulo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .main__section--precios .section__precios--titulo h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}
body main .main__section--precios .section__precios--titulo p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(82, 81, 81);
}
body main .main__section--precios .section__precios--titulo .backgroundprecios {
  width: 150px;
  height: 150px;
  margin: 20px auto 20px auto;
  background-image: url("/assets/icons/hucha.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body footer {
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;
  text-align: center;
  background-color: #c5c6f1;
  border-top: 1px solid black;
  box-shadow: 1px 1px 8px rgb(47, 46, 46);
  z-index: 1;
}
body footer h3 {
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}
body footer .footer__section--modal {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 4;
}
body footer .footer__section--ingresar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
body footer .footer__section--ingresar a {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  margin-bottom: 25px;
  font-size: 2rem;
  color: black;
  background-color: #6bc1f3;
  border-radius: 10px;
  box-shadow: 1px 2px 1px rgb(83, 81, 81);
  opacity: 1;
  z-index: 3;
}/*# sourceMappingURL=main.css.map */