/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visual (shadow box)
5. Otros
*/
//Fonts
//thin 100
//regular 400
//medium 500 italic
$principal: #5cceee;
$secundario: #24c0eb;
$terceario: #cacaca;
$color4: #eee8e8;
$color5: #f1ebeb;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
}

@mixin talla($width, $height) {
    width: $width;
    height: $height;
}

@mixin displayFlex($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}
a{
    color: white;
    text-decoration: none;
}
body {
    @include talla(100%, auto);
    background-color: $color4;
    header {
        position: relative;
        @include displayFlex(column, center, center);
        @include talla(100%, 334px);
        min-width: 324px;
        text-align: center;
        background-image: linear-gradient(to bottom, #24c0eb, #9cc2f8, #d7c8ee, #f0d7e4, #f1ebeb);
        .header__contenedor--primario {
            @include displayFlex(row, center, center);
            width: 100%;
            margin-top: 40px;

            h2 {
                color: $color5;
                font-size: 3rem;
                margin-right: 10px;
                color: black
            }

            img {
                @include talla(40px, 37px);
                align-self: center;
                margin-right: 10px;
            }
        }

        .header__contenedor--secundario {
            @include talla(90%, 218px);
            min-width: 288px;
            max-width: 900px;
            margin-top: 40px;
            align-self: center;
            text-align: center;
            h1 {
                font-size: 2.4rem;
                color: $color5;
                font-weight: bold;
                line-height: 3rem;
                color: black;
            }
            p {
                margin-top: 20px;
                font-size: 1.8rem;
                color: black;
            }
            .header--button {
                position: absolute;
                display: block;
                left: calc(50% - 118px);
                top: 270px;
                width: 229px;
                height: 48px;
                margin-top: 35px;
                padding: 8px;
                font-size: 1.4rem;
                font-weight: bold;
                text-decoration: none;
                color: black;
                background-color: $color4;
                border-radius: 5px;
                box-shadow: 1px 2px 2px black;
                &:hover{
                    background-color: rgb(231, 219, 219);
                }
                img {
                    width: 23px;
                    height: 20px;
                    margin: 5px 0 0 10px;
                }
            }
        }
    }
    main{
        margin-bottom: 130px;
        .main__section--objetivo{
            @include talla(100%,auto);
            margin: 100px 0;
            h2{
                margin-bottom: 20px;
                padding: 0 20px;
                font-size: 3rem;
                text-align: center;
                color: black;
            }
            p{
                justify-content: center;
                text-align: center;
                padding: 0 20px;
                font-size: 2rem;
                color: black;
            }
        }
        .main__section--desarrollo{
            @extend .main__section--objetivo;
        }
        .main__section--precios{
            @include talla(100%, auto);
            @include displayFlex(row, center, center);
            margin: 30px 0px;
            background-color: #ebd4e5;
            .section__precios--titulo{
                @include talla(100%, auto);
                @include displayFlex(column, center, center);
                h2{
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 600;
                    color: black;
                }
                p{
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: rgb(82, 81, 81);
                }
                .backgroundprecios{
                    width: 150px;
                    height: 150px;
                    margin: 20px auto 20px auto;
                    background-image: url('/assets/icons/hucha.png');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    footer{
        position: fixed;
        @include talla(100%, 100px);
        bottom: 0;
        text-align: center;
        background-color: #c5c6f1;
        border-top: 1px solid black;
        box-shadow: 1px 1px 8px rgb(47, 46, 46);
        z-index: 1;
        h3{
            margin-top: 10px;
            font-size: 2rem;
            font-weight: 600;
            color: black;
        }
        .footer__section--modal{ 
            position: relative;
            @include talla(100%, 100%);
            background-color: black;
            z-index: 4;
        }
        .footer__section--ingresar{ 
            @include displayFlex(row, space-around, center);
            @include talla(100%,100%);
            a{
                position: relative;
                @include displayFlex(row, center, center);
                height: 40px;
                width: 200px;
                margin-bottom: 25px;
                font-size: 2rem;
                color: black;
                background-color: #6bc1f3;
                border-radius: 10px;
                box-shadow: 1px 2px 1px rgb(83, 81, 81);
                opacity: 1;
                z-index: 3;
            }
        }
    }
}