/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visual (shadow box)
5. Otros
*/
//Fonts
//thin 100
//regular 400
//medium 500 italic
$principal: #5cceee;
$secundario: #24c0eb;
$terceario: #cacaca;
$color4: #eee8e8;
$color5: #f1ebeb;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
}

@mixin talla($width, $height) {
    width: $width;
    height: $height;
}

@mixin displayFlex($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

a {
    color: white;
    text-decoration: none;
}

body {
    @include talla(100%, auto);
    background-color: $color4;

    header {
        position: relative;
        @include displayFlex(column, center, center);
        @include talla(100%, 334px);
        min-width: 324px;
        text-align: center;
        background-image: linear-gradient(to bottom, #24c0eb, #9cc2f8, #d7c8ee, #f0d7e4, #f1ebeb);

        .header__contenedor--primario {
            @include displayFlex(row, center, center);
            width: 100%;
            margin-top: 40px;

            h2 {
                font-size: 3rem;
                margin-right: 10px;
                color: $color4;
            }

            img {
                @include talla(40px, 37px);
                align-self: center;
                margin-right: 10px;
            }
        }

        .header__contenedor--secundario {
            @include talla(90%, 218px);
            min-width: 288px;
            max-width: 900px;
            margin-top: 40px;
            align-self: center;
            text-align: center;

            h1 {
                font-size: 2.4rem;
                color: $color5;
                font-weight: bold;
                line-height: 3rem;
                color: black;
            }

            p {
                margin-top: 20px;
                font-size: 1.8rem;
                color: black;
            }

            .header--button {
                position: absolute;
                display: block;
                left: calc(50% - 118px);
                top: 270px;
                width: 229px;
                height: 48px;
                margin-top: 35px;
                padding: 8px;
                font-size: 1.4rem;
                font-weight: bold;
                text-decoration: none;
                color: black;
                background-color: $color4;
                border-radius: 5px;
                box-shadow: 1px 2px 2px black;

                &:hover {
                    background-color: rgb(231, 219, 219);
                }

                img {
                    width: 23px;
                    height: 20px;
                    margin: 5px 0 0 10px;
                }
            }
        }
    }

    main {
        margin-top: 140px;
        margin-bottom: 130px;

        .main__section--objetivo {
            @include talla(100%, auto);
            min-width: 300px;
            margin: 100px 0;

            h2 {
                margin-bottom: 20px;
                padding: 0 20px;
                font-size: 3rem;
                text-align: center;
                color: black;
            }

            p {
                justify-content: center;
                text-align: center;
                padding: 0 20px;
                font-size: 2rem;
                color: black;
            }
        }

        .main__section--desarrollo {
            @extend .main__section--objetivo;
            min-width: 300px;
        }

        .main__section--precios {
            @include talla(100%, auto);
            min-width: 350px;
            @include displayFlex(column, center, center);
            margin: 30px 0px;
            background-color: #ebd4e5;
            box-shadow: 0px 0px 4px 0px black;

            .section__precios--titulo {
                @include talla(100%, auto);
                @include displayFlex(column, center, center);

                h2 {
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 600;
                    color: black;
                }

                p {
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: rgb(82, 81, 81);
                }

                .backgroundprecios {
                    width: 130px;
                    height: 130px;
                    margin: 20px auto 20px auto;
                    background-image: url('/assets/icons/hucha.png');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }

            .section__precios-container {
                @include talla(100%, auto);
                @include displayFlex(column, center, center);
                text-align: justify;

                .precios__container-title {
                    @include talla(100%, auto);
                    @include displayFlex(column, center, center);

                    p {
                        margin: 0 30px 0 0;
                        font-size: 2rem;
                        font-weight: 600;
                        color: black;
                    }
                }

                .precios__container-table {
                    margin: 30px auto;
                    @include talla(100%, auto);
                    @include displayFlex(column, center, center);

                    .container__table--currency {
                        width: 100%;
                        min-width: 235px;
                        max-width: 500px;
                        background-color: rgb(124, 120, 120);
                        border-radius: 10px;
                        box-shadow: 1px 1px 5px 1px rgb(124, 120, 120);

                        tr {
                            @include talla(100%, 30px);
                            text-align: center;

                            td {
                                width: 50%;
                                line-height: 40px;
                                font-size: 1.6rem;
                                background-color: $color4;
                            }

                            .table-rigth {
                                font-family: Arial, Helvetica, sans-serif;
                                font-weight: 600;
                            }

                            .table-left {
                                color: rgb(91, 88, 88);
                            }

                            .table__top-left {
                                border-radius: 10px 0 0 0;
                            }

                            .table__top-rigth {
                                border-radius: 0 10px 0 0;
                            }

                            .table__buttom-left {
                                border-radius: 0 0 0 10px;
                            }

                            .table__buttom-rigth {
                                border-radius: 0 0 10px 0;
                            }

                            .down {
                                display: inline-block;
                                @include talla(15px, 15px);
                                background-image: url("../assets/icons/dinero.png");
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: cover;
                                margin: 0 0 0 10px;
                            }
                        }
                    }

                    .currency__table--date {
                        margin: 25px 0;
                        text-align: center;
                        font-size: 1.8rem;

                        p {
                            width: 200px;
                            padding: 8px;
                            background-color: $terceario;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }

        .main__product--detail {
            position: relative;
            @include talla(100%, auto);
            min-width: 350px;
            text-align: center;
            padding: 20px 10px;
            background-color: #add3ea;

            .product-logo {
                position: absolute;
                top: -30px;
                left: calc(50% - 30px);
                width: 70px;
                height: 70px;
                background-image: url("../assets/icons/cirujano.png");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

            .product-detail--card {
                margin: 40px 0;

                h2 {
                    font-size: 2.9rem;
                    color: $color4;
                }

                p {
                    font-size: 1.6rem;
                    font-weight: 200;
                    color: $color5;
                }
            }

            .product-cards--container {
                .product-detail--card {
                    width: 90%;
                    min-width: 288px;
                    max-width: 400px;
                    height: auto;
                    min-height: 180px;
                    margin: 55px auto;
                    padding: 15px;
                    background-color: #44c0ee;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);

                    .time {
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        background-image: url('../assets/icons/hourglass\ \(1\).png');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    .economico {
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        background-image: url('../assets/icons/dinero.png');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    .calidad {
                        display: inline-block;
                        width: 50px;
                        height: 50px;
                        background-image: url('../assets/icons/badge.png');
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    .product--card-title {
                        font-size: 2.5rem;
                        font-weight: 600;
                        color: $color4;
                        line-height: 50px;
                    }

                    .product--card--body {
                        font-size: 1.9rem;
                        font-weight: 200;
                        color: $color5;
                    }

                }
            }
        }

        .salud-img-container {
            width: 100%;
            min-width: 350px;
            height: 40vh;
            margin: 20px 0;
            background-image: url('../assets/imgs/diventare-medico.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            h2 {
                padding-top: 65px;
                padding-left: 20px;
                font-weight: 600;
                font-size: 3rem;
                line-height: 2rem;
                color: white;
            }
        }

        .main-planes-container {
            width: 100%;
            min-width: 350px;
            height: auto;
            padding-bottom: 70px;
            text-align: center;

            .planes-title {
                width: 90%;
                min-width: 320px;
                margin: 0 auto;

                h2 {
                    font-size: 2rem;
                    font-weight: 600;
                    padding-top: 40px;
                }

                p {
                    font-size: 1.5rem;
                    padding-top: 10px;
                }
            }

            .planes-container--slider {
                height: auto;
                .planes-container--card {
                    position: relative;
                    width: 70%;
                    min-width: 230px;
                    max-width: 300px;
                    height: 250px;
                    margin: 50px auto 0;
                    padding: 0 15px;
                    background-color: white;
                    border-radius: 10px;
                    box-shadow: 0 1px 3px black;

                    .recomendado {
                        display: flex;
                        position: absolute;
                        top: -17px;
                        left: calc(50% - 60px);
                        justify-content: center;
                        align-items: center;
                        width: 120px;
                        height: 30px;
                        background-color: $secundario;
                        font-size: 1.8rem;
                        font-weight: bold;
                        border-radius: 5px;
                    }

                    .plan-info-container {
                        padding: 30px 0;

                        .plan-card--title {
                            font-size: 3rem;
                            font-weight: 300;
                        }

                        .plan-card--price {
                            padding-top: 15px;
                            font-size: 4rem;
                            font-weight: bold;
                            span{
                                font-size: 1.4rem;
                            }
                        }

                        .plan-card--saving {
                            padding-top: 15px;
                            font-size: 2rem;
                        }
                        .plan-card--caa{
                            width: 120px;
                            height: 40px;
                            border-radius: 6px;
                            background-color: #c5c6f1;
                        }
                    }
                }
            }
        }

    }

    footer {
        position: fixed;
        @include talla(100%, 100px);
        bottom: 0;
        text-align: center;
        background-color: #c5c6f1;
        border-top: 1px solid black;
        box-shadow: 1px 1px 8px rgb(47, 46, 46);
        z-index: 1;

        h3 {
            margin-top: 10px;
            font-size: 2rem;
            font-weight: 600;
            color: black;
        }

        .footer__section--modal {
            position: relative;
            @include talla(100%, 100%);
            background-color: black;
            z-index: 4;
        }

        .footer__section--ingresar {
            @include displayFlex(row, space-around, center);
            @include talla(100%, 100%);

            a {
                position: relative;
                @include displayFlex(row, center, center);
                height: 40px;
                width: 200px;
                margin-bottom: 25px;
                font-size: 2rem;
                color: black;
                background-color: #6bc1f3;
                border-radius: 10px;
                box-shadow: 1px 2px 1px rgb(83, 81, 81);
                opacity: 1;
                z-index: 3;
            }
        }
    }
}