/*
1. Posicionamiento
2. Modelo de caja
3. Tipografia
4. Visual (shadow box)
5. Otros
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Oswald", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

body {
  width: 100%;
  height: auto;
  background-color: #24c0eb;
}
body header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 334px;
  min-width: 324px;
  text-align: center;
  background-image: linear-gradient(to bottom, #24c0eb, #9cc2f8, #d7c8ee, #f0d7e4, #f1ebeb);
}
body header .header__contenedor--primario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
body header .header__contenedor--primario h2 {
  color: #f1ebeb;
  font-size: 3rem;
  margin-right: 10px;
  color: black;
}
body header .header__contenedor--primario img {
  width: 40px;
  height: 37px;
  align-self: center;
  margin-right: 10px;
}
body header .header__contenedor--secundario {
  width: 90%;
  height: 218px;
  min-width: 288px;
  max-width: 900px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
body header .header__contenedor--secundario h1 {
  font-size: 2.4rem;
  color: #f1ebeb;
  font-weight: bold;
  line-height: 3rem;
  color: black;
}
body header .header__contenedor--secundario p {
  margin-top: 20px;
  font-size: 1.8rem;
  color: black;
}
body header .header__contenedor--secundario .header--button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 8px;
  width: 229px;
  height: 48px;
  background-color: #eee8e8;
  /* sombra */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
body header .header__contenedor--secundario .header--button img {
  width: 23px;
  height: 20px;
  margin: 5px 0 0 10px;
}
body main .main__section--objetivo, body main .main__section--desarrollo {
  width: 100%;
  height: auto;
  margin: 100px 0;
}
body main .main__section--objetivo h2, body main .main__section--desarrollo h2 {
  padding: 0 20px;
  margin-bottom: 20px;
  font-size: 3rem;
  color: #cacaca;
  text-align: center;
}
body main .main__section--objetivo p, body main .main__section--desarrollo p {
  padding: 0 20px;
  justify-content: center;
  font-size: 2rem;
  color: #eee8e8;
}
body footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: #5cceee;
  box-shadow: 1px 2px 2px black;
}
body footer .footer__section--ingresar {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  opacity: 1;
}
body footer .footer__section--ingresar p {
  display: flex;
  width: 100px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background-color: #24c0eb;
  border-radius: 10px;
  opacity: 1;
}/*# sourceMappingURL=main.css.map */