.salud-img-container{
    max-width: 900px;
}
.product-detail--card{
    width: 500px;
    height: 300px;
    margin: 0;
    .product--card-title {
        font-size: 3rem;
        font-weight: 600;
        color: $color4;
        line-height: 50px;
    }

    .product--card--body {
        font-size: 2.1rem;
        font-weight: 200;
        color: $color5;
    }
}